
@{
    
    ViewBag.Title = "Home Page";
}
<br/>
<br/>
<div class="jumbotron col-lg-12">
    <h1>Care Assistance</h1>
    <p> Enhancing the Living.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

