
@{
    
    ViewBag.Title = "Home Page";
}
<div class="jumbotron col-lg-12">
    <h1>It's not rocket science</h1>
    <p> Seriously though its easy-peasy-lemon-squeasy.
        
    </p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

